<?php
/**
 * Copyright © 2015 uploadxmlcommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Uploadxml\Xmlfile\Block\Display\Display
 */

echo $block->display();

//echo $block->$hello();



?>
